apiVersion: v1
kind: Service
metadata:
  name: rag-backend
  labels:
    app: rag-backend
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8000"
spec:
  selector:
    app: rag-backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  type: ClusterIP
